@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;800;900&family=Roboto:wght@100;300;500;900&display=swap');

$fontMain:'Roboto', sans-serif;
$fontSecondary: 'Montserrat', sans-serif;

//variables para los textos
$textXl: 4em;
$textLg: 3em;
$textMd: 2em;
$textSm: 1em;
