/*Footer*/

footer{
    background: $mainColor;
    min-height: 100px;
    p{
    color: $secondaryColor;
    text-align: center;}
}

#iconos i{
    font-size: 26px;
    padding: 0 8px;
    color: $secondaryColor;
}
